Repository Softvence-Omega-Cyber-Monk/smckearin_backend: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, pnpm format:fix, pnpm build

fix: all lint error
  eslint.config.mjs
  src/main/adopter/services/adopter.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

fix: all eslint error
  prettier.config.mjs
  release.config.mjs
Due: none

fix: all eslint error 2
  eslint.config.mjs
Due: none

fix: fix eslint error 2
  eslint.config.mjs
Due: none

fix: dist issues
  package.json
Due: pnpm format:fix

fix: complete adopter pannel issue
  src/lib/chat/chat.module.ts
  src/lib/chat/services/message.service.ts
  src/main/transport/services/transport-chat.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

fix: remove unused imports in adopter-chat controller
  src/main/adopter/controllers/adopter-chat.controller.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

fix: refactor chat services to support REST calls
  src/lib/chat/services/conversation-query.service.ts
  src/lib/chat/services/conversation-single-query.service.ts
  src/main/adopter/controllers/adopter-chat.controller.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

fix: adopter update api make
  src/lib/utils/services/auth-utils.service.ts
  src/main/auth/controllers/auth-profile.controller.ts
  src/main/auth/dto/update-profile.dto.ts
  src/main/auth/services/auth-login.service.ts
  src/main/auth/services/auth-update-profile.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

fix: exiting api
  src/main/adopter/controllers/adopter.controller.ts
  src/main/adopter/dto/adoption-filter.dto.ts
  src/main/adopter/services/adopter.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

Clean up eslint.config.mjs by removing obfuscation
  eslint.config.mjs
Due: none

fix: remove unused PrismaClient import from animal-id.util.ts
  src/common/utils/animal-id.util.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

fix: remove leading blank line in animal-id.util.ts for prettier compliance
  src/common/utils/animal-id.util.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

fix: remove unused require and malicious injected code from eslint.config.mjs
  eslint.config.mjs
Due: none

fix: fix all issue
  src/lib/chat/services/conversation-query.service.ts
  src/lib/chat/services/conversation-single-query.service.ts
  src/lib/chat/services/message.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

fix: formate error
  src/main/animal/services/animal.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

fix: formate error2
  src/main/animal/services/animal.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

fix: formate error3
  src/main/animal/services/animal.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

fix: formate error4
  src/main/animal/services/animal.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

fix: formate error5
  eslint.config.mjs
Due: none

fix: formate error6
  eslint.config.mjs
Due: none

fix: fix all lint error
  eslint.config.mjs
Due: none

feat: add sid in response
  src/main/adopter/services/adopter.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: add sid in response second time
  src/main/foster/services/foster-animal.service.ts
  src/main/foster/services/get-foster.service.ts
  src/main/foster/services/manage-foster-animal-interest.service.ts
  src/main/foster/services/shelter-foster-request.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

fix: foster request api response
  src/main/foster/services/foster-animal.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

Update eslint.config.mjs
  eslint.config.mjs
Due: none

fix: chat
  src/lib/chat/services/conversation-single-query.service.ts
  src/lib/chat/services/message.service.ts
  src/main/transport/services/transport-chat.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

fix: update chat
  src/lib/chat/dto/conversation.dto.ts
  src/lib/chat/services/conversation-query.service.ts
  src/lib/chat/services/conversation-single-query.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

fix: update chat 2
  src/lib/chat/services/message.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

fix: update chat 3
  src/lib/chat/services/conversation-single-query.service.ts
  src/lib/chat/services/message.service.ts
  src/lib/chat/types/single-conversation.types.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

fix: update chat 4
  src/lib/chat/services/conversation-single-query.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

fix: update chat 5
  src/lib/chat/services/message.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

fix: add manual sid
  src/common/utils/animal-id.util.ts
  src/main/animal/dto/create-animal.dto.ts
  src/main/animal/dto/get-animal.dto.ts
  src/main/animal/services/animal.service.ts
  src/main/animal/services/get-animals.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

fix: add manual sid and adopter get api
  src/main/adopter/services/adopter.service.ts
  src/main/animal/services/animal.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

fix: add sid search field
  src/main/adopter/services/adopter.service.ts
  src/main/foster/dto/foster-animal.dto.ts
  src/main/foster/services/foster-animal.service.ts
  src/main/foster/services/shelter-foster-request.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

fix: add sid search field 2
  src/main/adopter/services/adopter.service.ts
  src/main/foster/services/foster-animal.service.ts
  src/main/foster/services/shelter-foster-request.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

Path conditions:
  pnpm lint:fix: any of: *.{js,ts,jsx,tsx}
  pnpm format:fix: (any of: *.{js,ts,jsx,tsx}) or (any of: *.{json,md})
  pnpm build: any of: *.{js,ts,jsx,tsx}
