Repository Softvence-Omega-Cyber-Monk/smckearin_backend: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, pnpm format:fix, pnpm build

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": ["pnpm lint:fix", "pnpm format:fix", "pnpm build"],
  "*.{json,md}": ["pnpm format:fix"]
}

feat: timeline update
  src/main/transport/services/get-single-transport.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: live trackign fixed
  src/common/enum/queue-events.enum.ts
  src/lib/queue/dto/transport-tracking.dto.ts
  src/lib/queue/queue.gateway.ts
  src/lib/queue/trip/transport-tracking.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: live trackign fixed
  src/lib/queue/queue.gateway.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: update compose file
  compose.yaml
Due: none

fix: fix acceep reject transport
  src/common/dto/approve-reject.dto.ts
  src/main/transport/controllers/transport.controller.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: live tracking fixed
  src/lib/google-maps/google-maps.service.ts
  src/lib/queue/trip/transport-tracking.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: live trackign completed
  src/lib/queue/trip/transport-tracking.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: live trackign completed
  src/main/vet-clearance-appointment/services/manage-vet-clearance.service.ts
  src/main/vet-clearance-appointment/vet-clearance-appointment.controller.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: fix get profile
  src/lib/utils/services/auth-utils.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: fixed profile picture
  src/main/auth/services/auth-update-profile.service.ts
  src/main/driver/services/get-driver.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: fix update animal
  src/main/animal/services/animal.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: fix upload driver docuemnt
  src/main/auth/services/auth-login.service.ts
  src/main/driver/controllers/driver.controller.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: fix shelter profile image
  src/main/auth/services/auth-update-profile.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: fix upload driver docuemnt
  src/lib/utils/services/auth-utils.service.ts
  src/main/auth/services/auth-update-profile.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: split the live trackign service
  docs/transport-tracking-refactoring.md
  src/lib/queue/queue.gateway.ts
  src/lib/queue/queue.module.ts
  src/lib/queue/trip/location-update.service.ts
  src/lib/queue/trip/route-calculation.service.ts
  src/lib/queue/trip/tracking-data.service.ts
  src/lib/queue/trip/tracking-helper.service.ts
  src/lib/queue/trip/transport-tracking.service.ts
  src/main/transport/services/get-live-tracking.service.ts
  src/main/transport/transport.module.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: wather update functionality added
  src/lib/lib.module.ts
  src/lib/queue/queue.module.ts
  src/lib/queue/trip/tracking-data.service.ts
  src/lib/weather/weather.module.ts
  src/lib/weather/weather.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: weather data get endpoint added
  src/lib/queue/trip/route-calculation.service.ts
  src/lib/queue/trip/tracking-data.service.ts
  src/main/shelter/controllers/shelter.controller.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

fix: fixed lint error
  src/lib/queue/trip/route-calculation.service.ts
  src/lib/queue/trip/tracking-data.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

fix: fixed some grammer mistake
  src/main/stats/services/admin-stats.service.ts
  src/main/stats/services/driver-stats.service.ts
  src/main/stats/services/shelter-stats.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

fix: fixed driver stats
  src/main/stats/services/driver-stats.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: driver details imporved
  src/main/driver/controllers/driver.controller.ts
  src/main/driver/services/get-driver.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: driver controller fixed
  src/main/driver/controllers/driver.controller.ts
  src/main/driver/services/get-driver.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: mark animals as adopted on transport complete
  src/main/transport/services/manage-transport.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: fixed get shelter endpoint
  src/lib/queue/trigger/generic-trigger.service.ts
  src/main/shelter/services/get-shelter.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

chore: fixed caddy file
  Caddyfile
Due: none

chore: caddyfile with redirect
  .vscode/settings.json
  Caddyfile
Due: pnpm format:fix

feat: fixed pnpm lock file
  pnpm-lock.yaml
Due: none

feat: fixed
  .npmrc
Due: none

feat: fixed2
  Dockerfile
Due: none

feat: fixed3
  .github/workflows/ci-cd.yml
  .npmrc
  Dockerfile
  README.md
Due: pnpm format:fix

feat: asdf
  .github/workflows/ci-cd.yml
Due: none

feat: fixed56
  Dockerfile
Due: none

feat: fixed567
  Dockerfile
Due: none

feat: fixed5678
  Dockerfile
Due: none

feat: fixed8678
  compose.yaml
  src/main.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: abcd21
  compose.yaml
  package.json
Due: pnpm format:fix

feat: fixed pnpm lock
  pnpm-lock.yaml
Due: none

feat: fixed pnpm lock2
  package.json
Due: pnpm format:fix
