Repository Softvence-Omega-Cyber-Monk/smckearin_backend: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, pnpm format:fix, pnpm build

chore: check github action
  Makefile
Due: none

fix: reset version
  CHANGELOG.md
  package.json
Due: pnpm format:fix

feat: deploy commit
  .github/workflows/ci-cd.yml
  src/lib/chat/chat.gateway.ts
  src/lib/queue/queue.gateway.ts
  src/main.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

chore: update action workflow
  .github/workflows/ci-cd.yml
  .vscode/settings.json
Due: pnpm format:fix

chore: fix deploy job in action
  .github/workflows/ci-cd.yml
Due: none

chore: deploy job onging
  .github/workflows/ci-cd.yml
Due: none

chore: add frontend config into caddy setup
  Caddyfile
  compose.yaml
Due: none

feat: update cors setup
  src/lib/chat/chat.gateway.ts
  src/lib/queue/queue.gateway.ts
  src/main.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: init new branch
  .lintstagedrc
  package-lock.json
  src/app.module.ts
  src/common/enum/env.enum.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: building models
  .vscode/settings.json
  prisma/schema/file-instance.prisma
  prisma/schema/notification.prisma
  prisma/schema/private-call.prisma
  prisma/schema/private-conversation.prisma
  prisma/schema/private-message.prisma
  prisma/schema/shelter.prisma
  prisma/schema/user.prisma
Due: pnpm format:fix

feat: driver model added
  prisma/schema/driver.prisma
  prisma/schema/file-instance.prisma
  prisma/schema/shelter.prisma
  prisma/schema/user.prisma
Due: none

feat: building models
  prisma/generated/browser.ts
  prisma/generated/client.ts
  prisma/generated/commonInputTypes.ts
  prisma/generated/enums.ts
  prisma/generated/internal/class.ts
  prisma/generated/internal/prismaNamespace.ts
  prisma/generated/internal/prismaNamespaceBrowser.ts
  prisma/generated/models.ts
  prisma/generated/models/Driver.ts
  prisma/generated/models/FileInstance.ts
  prisma/generated/models/NotificationSettings.ts
  prisma/generated/models/PrivateCall.ts
  prisma/generated/models/Shelter.ts
  prisma/generated/models/User.ts
  prisma/generated/models/Veterinarian.ts
  prisma/schema/driver.prisma
  prisma/schema/enum.prisma
  prisma/schema/shelter.prisma
  prisma/schema/user.prisma
  prisma/schema/veterinarian.prisma
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: models updating
  prisma/migrations/20251209115909_update_models/migration.sql
Due: none

feat: animal model ongoing
  prisma/schema/animal.prisma
  prisma/schema/enum.prisma
  prisma/schema/file-instance.prisma
  prisma/schema/shelter.prisma
Due: none

feat: update models
  prisma/migrations/20251210084215_update_models/migration.sql
  prisma/schema/animal.prisma
  prisma/schema/driver.prisma
  prisma/schema/enum.prisma
  prisma/schema/transport.prisma
  prisma/schema/veterinarian.prisma
Due: none

fix: build error fixed
  README.md
  compose.yaml
  package.json
  pnpm-lock.yaml
  src/common/enum/env.enum.ts
  src/lib/chat/chat.module.ts
  src/lib/chat/dto/call.dto.ts
  src/lib/chat/dto/presence.dto.ts
  src/lib/chat/dto/webrtc.dto.ts
  src/lib/chat/services/call.service.ts
  src/lib/chat/services/conversation-query.service.ts
  src/lib/chat/services/webrtc.service.ts
  src/main/auth/auth.controller.ts
  src/main/auth/auth.module.ts
  src/main/auth/services/auth-login.service.ts
  src/main/auth/services/auth-register.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

fix: shelter register completed
  prisma/migrations/20251211100751_add_shelter_status/migration.sql
  prisma/schema/shelter.prisma
  src/main/auth/auth.controller.ts
  src/main/auth/auth.module.ts
  src/main/auth/dto/register.dto.ts
  src/main/auth/services/auth-login.service.ts
  src/main/auth/services/auth-register.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: shelter and vet register completed
  src/main/auth/auth.controller.ts
  src/main/auth/dto/register.dto.ts
  src/main/auth/services/auth-register.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: shelter and vet register complete
  src/common/enum/env.enum.ts
  src/lib/mail/services/auth-mail.service.ts
  src/lib/mail/templates/reset-password-link.template.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: approval enum added
  prisma/generated/commonInputTypes.ts
  prisma/generated/enums.ts
  prisma/generated/internal/class.ts
  prisma/generated/internal/prismaNamespace.ts
  prisma/generated/internal/prismaNamespaceBrowser.ts
  prisma/generated/models/Driver.ts
  prisma/generated/models/Shelter.ts
  prisma/generated/models/Veterinarian.ts
  prisma/migrations/20251211112012_approval_enum_added/migration.sql
  prisma/schema/driver.prisma
  prisma/schema/enum.prisma
  prisma/schema/shelter.prisma
  prisma/schema/veterinarian.prisma
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: driver onboarding completed
  src/main/auth/auth.controller.ts
  src/main/auth/dto/driver-register.dto.ts
  src/main/auth/services/auth-register.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: init driver module
  prisma/migrations/20251213042919_update_driver_model/migration.sql
  prisma/schema/driver.prisma
  prisma/schema/enum.prisma
  prisma/schema/shelter.prisma
  prisma/schema/user.prisma
  src/main/driver/controllers/admin-driver.module.ts
  src/main/driver/driver.module.ts
  src/main/driver/services/get-driver.service.ts
  src/main/main.module.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: admin driver module ongoign
  prisma/generated/internal/class.ts
  prisma/generated/internal/prismaNamespace.ts
  prisma/generated/internal/prismaNamespaceBrowser.ts
  prisma/generated/models/Driver.ts
  src/main/driver/controllers/admin-driver.module.ts
  src/main/driver/controllers/driver.controller.ts
  src/main/driver/driver.module.ts
  src/main/driver/dto/get-drivers.dto.ts
  src/main/driver/services/get-driver.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: admin driver module ongoign
  src/main/driver/driver.module.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: login response imporved
  src/common/enum/user.enum.ts
  src/core/jwt/jwt.decorator.ts
  src/main/auth/services/auth-login.service.ts
  src/main/driver/controllers/driver.controller.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: get role based profile completed
  src/lib/utils/services/auth-utils.service.ts
  src/main/auth/auth.controller.ts
  src/main/auth/services/auth-get-profile.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: get single driver endpoint completed
  src/core/jwt/jwt.decorator.ts
  src/lib/utils/services/auth-utils.service.ts
  src/main/driver/controllers/driver.controller.ts
  src/main/driver/services/get-driver.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: driver approv, reject , delete endpoint completed
  src/common/dto/approve-reject.dto.ts
  src/lib/utils/services/auth-utils.service.ts
  src/main/driver/controllers/driver.controller.ts
  src/main/driver/driver.module.ts
  src/main/driver/services/get-driver.service.ts
  src/main/driver/services/manage-driver.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: delete driver document endpoint completed
  src/core/jwt/jwt.decorator.ts
  src/main/auth/auth.controller.ts
  src/main/driver/controllers/driver.controller.ts
  src/main/driver/dto/driver.dto.ts
  src/main/driver/services/manage-driver.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: upload document endpoint ongoing
  src/main/driver/controllers/driver.controller.ts
  src/main/driver/dto/driver.dto.ts
  src/main/driver/services/manage-driver.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: upload my driver document endpoint completed
  src/main/driver/controllers/driver.controller.ts
  src/main/driver/dto/driver.dto.ts
  src/main/driver/services/manage-driver.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: driver management for superadmin completed
  src/main/driver/controllers/driver.controller.ts
  src/main/driver/dto/driver.dto.ts
  src/main/driver/services/manage-driver.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

chore: caddy config updated
  .vscode/settings.json
  Caddyfile
Due: pnpm format:fix

feat: vet document model added
  prisma/migrations/20251214044104_add_vet_document_model/migration.sql
  prisma/schema/file-instance.prisma
  prisma/schema/veterinarian.prisma
Due: none

feat: profile setting endpoints ongoing
  .vscode/settings.json
  prisma/generated/browser.ts
  prisma/generated/client.ts
  prisma/generated/internal/class.ts
  prisma/generated/internal/prismaNamespace.ts
  prisma/generated/internal/prismaNamespaceBrowser.ts
  prisma/generated/models.ts
  prisma/generated/models/FileInstance.ts
  prisma/generated/models/NotificationSettings.ts
  prisma/generated/models/VetDocument.ts
  prisma/generated/models/Veterinarian.ts
  prisma/migrations/20251214050558_update_notification_setting/migration.sql
  prisma/schema/notification.prisma
  src/lib/seed/services/super-admin.service.ts
  src/lib/utils/services/auth-utils.service.ts
  src/main/auth/auth.controller.ts
  src/main/auth/auth.module.ts
  src/main/auth/services/auth-notification.service.ts
  src/main/auth/services/auth-register.service.ts
  src/main/auth/services/auth-update-profile.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: notification setting ongoing
  src/common/dto/pagination.dto.ts
  src/main/auth/services/auth-notification.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: notification setting completed
  src/main/auth/auth.controller.ts
  src/main/auth/dto/notification.dto.ts
  src/main/auth/services/auth-notification.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: operating schudle service completed
  prisma/generated/internal/class.ts
  prisma/generated/internal/prismaNamespace.ts
  prisma/generated/internal/prismaNamespaceBrowser.ts
  prisma/generated/models/Driver.ts
  prisma/generated/models/Shelter.ts
  prisma/generated/models/VetDocument.ts
  prisma/generated/models/Veterinarian.ts
  prisma/migrations/20251211100751_add_shelter_status/migration.sql
  prisma/migrations/20251211112012_approval_enum_added/migration.sql
  prisma/migrations/20251213042919_update_driver_model/migration.sql
  prisma/migrations/20251214044104_add_vet_document_model/migration.sql
  prisma/migrations/20251214050558_update_notification_setting/migration.sql
  prisma/migrations/20251214064818_init_db/migration.sql
  prisma/schema/driver.prisma
  prisma/schema/shelter.prisma
  prisma/schema/veterinarian.prisma
  src/main/auth/auth.controller.ts
  src/main/auth/auth.module.ts
  src/main/auth/dto/setting.dto.ts
  src/main/auth/services/auth-setting.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

Path conditions:
  pnpm lint:fix: any of: *.{js,ts,jsx,tsx}
  pnpm format:fix: (any of: *.{js,ts,jsx,tsx}) or (any of: *.{json,md})
  pnpm build: any of: *.{js,ts,jsx,tsx}
