Repository Softvence-Omega-Cyber-Monk/smckearin_backend: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, pnpm format:fix, pnpm build

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": ["pnpm lint:fix", "pnpm format:fix", "pnpm build"],
  "*.{json,md}": ["pnpm format:fix"]
}

feat: done
  package.json
  pnpm-lock.yaml
Due: pnpm format:fix

feat: done2
  package-lock.json
Due: pnpm format:fix

feat: pushed
  package.json
  pnpm-lock.yaml
Due: pnpm format:fix

feat: asdf
  prisma/schema/schema.prisma
Due: none

feat: asdf2
  prisma/schema/schema.prisma
  tsconfig.json
Due: pnpm format:fix

feat: asdf233
  prisma/schema/schema.prisma
Due: none

feat: final try
  compose.yaml
  package-lock.json
  package.json
  pnpm-lock.yaml
  prisma/generated/internal/class.ts
  prisma/generated/internal/prismaNamespace.ts
  prisma/generated/internal/prismaNamespaceBrowser.ts
  prisma/schema/schema.prisma
  tsconfig.json
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: what is going on?
  .lintstagedrc
  README.md
  docs/chat.md
  docs/live_tracking.md
  docs/payment_flow.md
  docs/payment_requirements.md
  docs/transport-tracking-refactoring.md
  live-tracking/vet.html
  package.json
  pnpm-lock.yaml
Due: pnpm format:fix

feat: fixing something
  compose.yaml
Due: none

feat: trying to fixing
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: pnpm format:fix

feat: fixing prisma db error
  prisma/migrations/20260224043409_something_logging/migration.sql
Due: none

feat: fixing prisma db error
  .gitignore
  eslint.config.mjs
  prisma/migrations/20260224043409_something_logging/migration.sql
Due: none

feat: add delete account API and fix some endpoints
  compose.yaml
  src/lib/stripe/stripe.service.ts
  src/main/auth/auth.module.ts
  src/main/auth/controllers/auth-profile.controller.ts
  src/main/auth/services/auth-delete-account.service.ts
  src/main/driver/services/get-driver.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: formate fix
  src/main/auth/controllers/auth-profile.controller.ts
  src/main/auth/services/auth-delete-account.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: formate fix
  .gitignore
  eslint.config.mjs
  src/main/auth/controllers/auth-profile.controller.ts
  src/main/auth/services/auth-delete-account.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: update transport workflows
  .gitignore
  Dockerfile.dev
  README.md
  eslint.config.mjs
  prisma/generated/commonInputTypes.ts
  prisma/generated/enums.ts
  prisma/generated/internal/class.ts
  prisma/generated/internal/prismaNamespace.ts
  prisma/generated/internal/prismaNamespaceBrowser.ts
  prisma/generated/models/Transport.ts
  prisma/migrations/20260315091154_a/migration.sql
  prisma/migrations/20260316113000_add_manual_distance_eta_to_transport/migration.sql
  prisma/migrations/20260316121500_add_transport_cancellation_request_review/migration.sql
  prisma/schema/transport.prisma
  src/lib/prisma/prisma.service.ts
  src/main/payment/services/pricing.service.ts
  src/main/transport/controllers/transport.controller.ts
  src/main/transport/dto/cancel-transport.dto.ts
  src/main/transport/dto/create-transport.dto.ts
  src/main/transport/services/create-transport.service.ts
  src/main/transport/services/get-driver-transport.service.ts
  src/main/transport/services/get-single-transport.service.ts
  src/main/transport/services/manage-transport.service.ts
  temp_auto_push.bat
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: fixed prettier
  eslint.config.mjs
  pnpm-lock.yaml
  src/main/payment/services/pricing.service.ts
  src/main/transport/controllers/transport.controller.ts
  src/main/transport/services/create-transport.service.ts
  src/main/transport/services/manage-transport.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: fixed prettier2
  eslint.config.mjs
Due: none

Delete .env
  .env
Due: none

fix: fix error
  .gitignore
  pnpm-lock.yaml
Due: none

fix: remove issue file
  eslint.config.mjs
Due: none

Add empty line for better readability in config
  eslint.config.mjs
Due: none

fix: fix eslint
  eslint.config.mjs
Due: none

feat: fix prettier
  eslint.config.mjs
  live-tracking/shelter.html
  pnpm-lock.yaml
  prisma/generated/browser.ts
  prisma/generated/client.ts
  prisma/generated/enums.ts
  prisma/generated/internal/class.ts
  prisma/generated/internal/prismaNamespace.ts
  prisma/generated/internal/prismaNamespaceBrowser.ts
  prisma/generated/models.ts
  prisma/generated/models/Foster.ts
  prisma/generated/models/User.ts
  prisma/migrations/20260317093000_add_foster_role_and_model/migration.sql
  prisma/schema/foster.prisma
  prisma/schema/user.prisma
  src/common/enum/user.enum.ts
  src/core/jwt/jwt.decorator.ts
  src/lib/mail/services/auth-mail.service.ts
  src/lib/mail/templates/account-approved.template.ts
  src/lib/queue/enums/notification-types.enum.ts
  src/lib/queue/services/user-notification.service.ts
  src/lib/utils/services/auth-utils.service.ts
  src/main/auth/controllers/auth-profile.controller.ts
  src/main/auth/controllers/auth-registration.controller.ts
  src/main/auth/dto/foster-register.dto.ts
  src/main/auth/dto/update-profile.dto.ts
  src/main/auth/services/auth-login.service.ts
  src/main/auth/services/auth-register.service.ts
  src/main/auth/services/auth-update-profile.service.ts
  src/main/foster/controllers/foster.controller.ts
  src/main/foster/dto/foster.dto.ts
  src/main/foster/dto/get-fosters.dto.ts
  src/main/foster/foster.module.ts
  src/main/foster/services/get-foster.service.ts
  src/main/foster/services/manage-foster.service.ts
  src/main/main.module.ts
  src/main/payment/services/pricing.service.ts
  src/main/transport/controllers/transport.controller.ts
  src/main/transport/services/create-transport.service.ts
  src/main/transport/services/manage-transport.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: fix prettier
  .prettierignore
  eslint.config.mjs
Due: none

feat: added endpoints of foster
  prisma/generated/browser.ts
  prisma/generated/client.ts
  prisma/generated/commonInputTypes.ts
  prisma/generated/enums.ts
  prisma/generated/internal/class.ts
  prisma/generated/internal/prismaNamespace.ts
  prisma/generated/internal/prismaNamespaceBrowser.ts
  prisma/generated/models.ts
  prisma/generated/models/Animal.ts
  prisma/generated/models/Foster.ts
  prisma/generated/models/FosterAnimalInterest.ts
  prisma/generated/models/Shelter.ts
  prisma/migrations/20260324150000_add_foster_animal_interest/migration.sql
  prisma/schema/animal.prisma
  prisma/schema/foster-interest.prisma
  prisma/schema/foster.prisma
  prisma/schema/shelter.prisma
  src/main/foster/controllers/foster.controller.ts
  src/main/foster/dto/foster-animal.dto.ts
  src/main/foster/foster.module.ts
  src/main/foster/services/foster-animal.service.ts
  src/main/foster/services/manage-foster-animal-interest.service.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: fixed endpoints of foster
  src/main/auth/controllers/auth-notification.controller.ts
  src/main/auth/services/auth-notification.service.ts
  src/main/driver/controllers/driver.controller.ts
  src/main/foster/controllers/foster.controller.ts
  src/main/payment/controllers/shelter-payment.controller.ts
  src/main/shelter/controllers/shelter.controller.ts
  src/main/vet/controllers/vet.controller.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: formate fix
  .gitignore
  eslint.config.mjs
Due: none

fix: all issue
  prisma/generated/browser.ts
  prisma/generated/client.ts
  prisma/generated/commonInputTypes.ts
  prisma/generated/enums.ts
  prisma/generated/internal/class.ts
  prisma/generated/internal/prismaNamespace.ts
  prisma/generated/internal/prismaNamespaceBrowser.ts
  prisma/generated/models.ts
  prisma/generated/models/FosterDocument.ts
  prisma/generated/models/FosterPreference.ts
  prisma/generated/models/FosterProfile.ts
  prisma/generated/models/ImportJob.ts
  prisma/generated/models/OperatingSchedule.ts
  prisma/generated/models/PasswordResetToken.ts
  prisma/generated/models/PriorityScoreLog.ts
  prisma/generated/models/User.ts
  prisma/generated/models/UserSettings.ts
  prisma/migrations/20260324051836_message/migration.sql
Due: pnpm lint:fix, pnpm format:fix, pnpm build

feat: complete message for shelter and foster
  prisma/generated/browser.ts
  prisma/generated/client.ts
  prisma/generated/commonInputTypes.ts
  prisma/generated/enums.ts
  prisma/generated/internal/class.ts
  prisma/generated/internal/prismaNamespace.ts
  prisma/generated/internal/prismaNamespaceBrowser.ts
  prisma/generated/models.ts
  prisma/generated/models/FosterDocument.ts
  prisma/generated/models/FosterPreference.ts
  prisma/generated/models/FosterProfile.ts
  prisma/generated/models/ImportJob.ts
  prisma/generated/models/OperatingSchedule.ts
  prisma/generated/models/PasswordResetToken.ts
  prisma/generated/models/PriorityScoreLog.ts
  prisma/generated/models/User.ts
  prisma/generated/models/UserSettings.ts
  src/lib/chat/dto/conversation.dto.ts
  src/lib/chat/services/conversation-query.service.ts
  src/lib/chat/services/conversation-single-query.service.ts
  src/lib/chat/services/message.service.ts
  src/lib/chat/types/conversation.types.ts
  src/lib/chat/types/single-conversation.types.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm build
